body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #fffdfd;
    margin: 0;
    padding: 0;
}

h1 {
    display: flex;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: center;
} 

.dashboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 160px;
    gap: 16px;
    padding: 20px;
}

.card {
    background: #1e1e1e;
    border-radius: 16px;
    padding: 20px;
}

.calendar {
    text-align: center;
    grid-column: span 4;
    grid-row: span 2;
}

.weather {
    grid-column: span 4;
    text-align: center;
}

.clock {
    grid-column: span 4;
    text-align: center;
}

.todo {
    grid-column: span 1;
    text-align: center;
}

.music {
    grid-column: span 1;
    text-align: center;
}

.github {
    grid-column: span 1;
    text-align: center;
}

.system-stats {
    grid-column: span 1;
    grid-row: span 1;
    text-align: center;
}

.assistant {
    text-align: center;
    grid-column: span 4;
    grid-row: span 1;
}